<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../layout/head') %>

</head>

<body>

    <%- include('../../layout/header')  %>

        <h4>Search by Title or Author</h4>
        <main>
            <form action="/searches/show" method="POST">
                <label>
              <input id='searchField' type="search" name="input"  placeholder="Enter a title or author" />
            </label>
                <div class='option'><input type="radio" id="title" name="search" value="title"> Title </input>
                </div>
                <div class='option'> <input type="radio" id="author" name="search" value="author"> Author </input>
                </div>
                <button id='searchButton'>Search the Google Books API</button>
            </form>
        </main>
</body>

</html>