<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <section>
        <article>
            <p>
                <%= error%>
            </p>
        </article>
    </section>
</body>

</html>